* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}

::-webkit-scrollbar {
	display: none;
}

::-webkit-input-placeholder {
    color: #FFF;
    opacity: 0.4;
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 200;
    src: url(Raleway-ExtraLight.woff) format("woff");
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    src: url(Raleway-Light.woff) format("woff");
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    src: url(Raleway.woff) format("woff");
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    src: url(Raleway-SemiBold.woff) format("woff");
}

html.with-statusbar-overlay body {
    padding-top: 0px!important;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    position: absolute;
    background-color: #241D1D;
}

input[type="number"], input[type="tel"]{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    font-weight: 300!important;
    letter-spacing: 0.5px;
}

.hidden {
    display: none!important;
}

.navbar {
    height: 64px;
    background: -webkit-gradient(linear,
        left top,right top,
        color-stop(0%,#36bac2),
        color-stop(100%,#3cd3ad));
    color: #fff;
}

.navbar-inner {
    padding: 20px 0 0;
}

.content-block {
    margin: 64px 0 0;
    padding: 2px 15px;
}

.challenge-block {
    margin: 94px 0 0;
}

.challenge-block .list-group-title {
    background-color: #B2ADA7; /*#f56363; #43C5B8;*/
    color: #fff;
}

.content-center {
    text-align: center;
}

.friends-content {
    margin: 64px 0 0;
}

.friends-content .list-block {
    margin: 0;
}

.searchbar {
    margin-top: 64px;
    border-bottom: 0px solid transparent;
    background-color: transparent;
}

.navbar .center {
    font-size: 22px;
    font-weight: 400;
}

.navbar .center.smaller {
    font-size: 20px;
}

.left .link, .close-popup.link {
    padding: 0 15px 0 8px;
}

.signup-block {
    height: 65%;
    padding: 1% 5% 2%;
    margin: 20% 15px;
}

.badge {
    font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
}

.preloader.full {
    position: absolute;
    left: 50%;
    top: 33%;
    margin: -20px 0 0 -20px;
    display: block;
    width: 40px;
    height: 40px;
}

.panel {
    background: #EDE8E5;
}

.panel .list-block ul {
    background: transparent;
}

#c {
    width:375px;
    height:610px;
    margin-top:60px;
}

.vertical-align-ish a.button {
    margin-top: 96px;
}

.vertical-align-ish a.button.retry {
    margin-top: 48px;
}

.vertical-align-ish {
    margin-top: 25%;
}

i.icon-challenge {
    width: 30px;
    height: 30px;
    background: url("../img/challenge.svg") 50% 50% / 26px 26px no-repeat;
}

i.icon-feedback {
    width: 30px;
    height: 30px;
    background: url("../img/feedback.svg") 50% 50% / 26px 26px no-repeat;
}

i.icon-results {
    width: 30px;
    height: 30px;
    background: url("../img/results.svg") 50% 50% / 26px 26px no-repeat;
}

i.icon-solo {
    width: 30px;
    height: 30px;
    background: url("../img/solo.svg") 50% 50% / 26px 26px no-repeat;
}

.button.button-fill.color-green {
    background: #43C5B8;
    color: #fff;
}

.button.button-fill.color-red {
    background: #f56363;
    color: #fff;
}
