.page.signup .page-content {
    background-color: #444;
}

.page.signup h1 {
    margin: 64px auto;
    text-align: center;
    color: #FFF;
    font-weight: 200;
    font-size: 3em;
}

.page.signup h2 {
    font-weight: 200;
    text-align: center;
    color: #FFF;
    margin-top: -19px;
}

.page.signup a.signup {
    border-radius: 0;
    color: #FFF;
    background-image: -webkit-linear-gradient(#3b5998, #314b83);
    margin: 96px 15px 0px 15px;
    border: solid 1px #283e6b;
    box-shadow: inset 0px 1px rgba(255,255,255,0.2);
    text-shadow: 0px 1px rgba(0,0,0,0.4);
    font-weight: 500;
}

.page.signup a.signup.active-state {
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.3), 0px 1px rgba(255,255,255,0.2);
}
